# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules
MATLAB/Archive
gainCompensation_v1.m

# Ignore all files
*.txt
*.mat
*.jpg
*.png
*.bmp
*.JPG
*.PNG
*.bmp
*.BMP
*.MAT
*.pdf
*.PDF
*.asv

ScrachPaper.m
!Readme.txt
!assets/church_01.jpeg
!assets/church_02.jpeg
!assets/church_03.jpeg
!assets/dataset_samples_CMU0.png
!assets/dataset_samples_grandcanyon.png
!assets/dataset_samples_rio.png
!assets/dataset_samples_shanghai.png
!assets/dataset_samples_ucsb4.png
!assets/dataset_samples_yellowstone.png
!assets/grand_canyon_01.jpeg
!assets/grand_canyon_02.jpeg

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
